.page {
    min-height: 100vh;
}
.content {
    margin: 0 auto;
    min-width: 1024px;
    justify-content: center;
}
.content-inner {
    width: 100%;
}
.header {
    justify-content: space-between;
    width: 100%;
}
.logo {
    height: 42px;
    width: 42px;
}

a.link {
    color: #ffc53d;
    font-size: 16px;
}
.forum {
    width: 100%;
}
.topic-info {
    width: 100%;
}
