.page {
    height: 100vh;
}
.container {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}
.header {
    justify-content: space-between;
    width: 100%;
}
.logo {
    height: 42px;
    width: 42px;
}
.nav-link {
    color: #ffc53d !important;
    font-size: 16px;
}
.divider {
    font-size: 24px;
}
.link {
    padding: 8px 16px;
    border-radius: 16px;
    background-color: #ffc53d;
    color: #000 !important;
    font-size: 16px;
    align-self: center;
}
