.leaderboard-row {
    display: flex;
    margin: 8px 0;
}
.leaderboard-row-inner {
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.leaderboard-row-inner span {
    font-size: 16px;
}
